<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit Task</title>
        <div th:replace="fragments/cdn :: css" ></div>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar" ></div>

        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-head">
                        <h3>Edit this task</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{'/edit/info/{id}'(id=${id})}" th:object="${todoList}" th:method="PUT">
                            <div class="form-group">
                                <label for="title">Task Title:</label>
                                <!-- th:field="*{title}" -->
                                <input class="form-control" id="title" type="text" th:field="*{title}" />
                            </div>
                            <div class="form-group">
                                <label for="title">Author:</label>
                                <!-- th:field="*{author}" -->
                                <textarea class="form-control" rows="3" id="title" type="text" th:field="*{author}"></textarea>
                            </div>
                            
                             <div class="form-group">
                                <label for="title"> Body:</label>
                                <!-- th:field="*{body}" -->
                                <input class="form-control" id="body" type="text" th:field="*{body}" />
                                </div>

                            <button type="submit" class="btn submitter">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </body>

    <footer>
        <div th:replace="fragments/cdn :: js" ></div>
    </footer>

</html>